{% extends "main.html" %}

{% block content %}


    <div class="col-md-6 mx-auto">

        <!-- form card login -->
        <div class="card rounded-0">

            <div class="card-header">
                <h3 class="mb-0">{{ form_name }}</h3>
            </div>
            <div class="card-body">

                <form class="form" action="/{{ action }}" method=post>
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.name.label }}
                        {{ form.name(class_="form-control") }}

                        {% if form.name.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for message in form.name.errors %}
                                    <div>{{ message }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.population.label }}
                        {{ form.population(class_="form-control") }}

                        {% if form.population.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for message in form.population.errors %}
                                    <div>{{ message }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.goverment.label }}
                        {{ form.goverment(class_="form-control") }}

                        {% if form.goverment.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for message in form.goverment.errors %}
                                    <div>{{ message }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.location.label }}
                        {{ form.location(class_="form-control") }}

                        {% if form.location.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for message in form.location.errors %}
                                    <div>{{ message }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.client_documents.label }}
                        {{ form.client_documents(class_="form-control") }}

                        {% if form.client_documents.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for message in form.client_documents.errors %}
                                    <div>{{ message }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    {{ form.submit(class_="btn btn-success") }}
                </form>
            </div>
        
        </div>


    </div>

    </div>




{% endblock %}